.navbar-brand {
    background: teal;
    font-color: white;
}

.jumbotron {
    background-color: transparent;
}

body {
    background-image: url("https://files.slack.com/files-pri/T01FHC8HG1X-F01FSJRP571/ignasi_pattern_s.png");
}