 {
    background-color: teal;
}

h1 {
    color: teal;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px;  
    border: 1px solid #ccc; 
    border-radius: 00px; 
    box-sizing: border-box; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    resize: vertical; 
  }
  
  input[type=submit] {
    background-color: teal;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 0px;
    background-color: #f2f2f2;
    padding: 20px;
  }
