.main {
    max-width: 660px;
    display: flex;
    align-content: center;
    background-color: white;
    margin-left: 250px;
}

.navbar-brand {
    background: teal;
    color: white;
}

.jumbotron {
    background-color: transparent;
}

body {
    background-image: url("https://files.slack.com/files-pri/T01FHC8HG1X-F01FSJRP571/ignasi_pattern_s.png");
}

.pic {
    width: 150px;
}